/* Global styles */

* {
	padding: 0;
	margin: 0
}

body {
	font-family: Arial;
	font-size: 18px;
}

h1 {
	font-size: 1em;
	display: inline;
}

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
}


/* Header and last choice */

header {
	background: #424242;
	color: white;
	padding: 15px 0;
}


.header__status-result {
	font-size: 1em;
}

/* Main block styles */

.main {
	padding-top: 30px;
	padding-bottom: 30px;
}


/* Dropdown styles */

.dropdown {
	display:  inline-block;
	position: relative;
	float: left;
	font-size: 0.9em;
}

.dropdown + .dropdown {
	margin-left: 50px;
}

.dropdown button {
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1em;
	border: none;
	padding: 5px 10px;
	background: #ccc;
}
.dropdown__expanded button {
	color: #fff;
	background: #333;
}

.dropdown ul {
	margin: 5px 0;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	transform: 150ms all linear;
	border-radius: 5px;
	padding: 0;
	position: absolute;
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
	list-style: none;
}

.dropdown__expanded ul {
	opacity: 1;
	height: auto;
}


.dropdown li {
	transition: 100ms all ease-in;
	cursor: pointer;
	padding: 5px 20px;
}
.dropdown li:hover {
	color: #fff;
	background: #666;
}

.dropdown li[disabled] {
	color: #ccc;
	cursor: text;
	background: none;
}

.dropdown__item-active {
	background: #FFF9C4;
}
